<!DOCTYPE html>
<html>
<head>
  <title>Translinator</title>
  <%= stylesheet_link_tag    "translinator/application", media: "all" %>
  <%= javascript_include_tag "translinator/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
